h1 Welcome to Card Collector!
p Collect, merge, and trade cards to build your ultimate collection.
img src="/img/home_banner.png" alt="Card Collector Banner"

p Start collecting by opening your free pack now!
a.button href="/packs/new" Open Pack